@import "tailwindcss";

@theme {
  /* breakpoints */
  --breakpoint-dsk: 1024px;

  /* custom sizes */
  --container-hd: 1920px;

  /* font-family */
  --font-sans: var(--font-sans);

  /* colors */
  --color-neutral-0: #ffffff;
  --color-neutral-50: #f7f7f8;
  --color-neutral-100: #efeff3;
  --color-neutral-200: #d2d3dc;
  --color-neutral-300: #a3a4b2;
  --color-neutral-400: #8e90a0;
  --color-neutral-500: #7a7c8e;
  --color-neutral-600: #626374;
  --color-neutral-700: #3e4050;
  --color-neutral-800: #2c2e3a;
  --color-neutral-900: #16171d;
  --color-neutral-1000: #000000;
  --color-white: var(--color-neutral-0);
  --color-black: var(--color-neutral-1000);
  --color-brand-300: #0c61f9;
  --color-brand-500: #242fb0;
  --color-brand-700: #0e247e;
  --color-brand-800: #061157;
  --color-brand-900: #010533;
  --color-new-gold: #edae49;
  --color-ryan-gold: #b98b43;
  --color-medium-gold: #a57220;
  --color-dark-gold: #6a4406;
  --color-dim-blue: rgba(240, 243, 249, 0.4);
  --color-silver-mist: #a5a9be;
  --color-focus: #0052de;
  --color-danger: #cc2936;
  --color-success: #217e38;
  /* theme-generic colors, default to light theme value */
  --color-content-primary: var(--color-neutral-900);
  --color-surface-field: var(--color-neutral-100);
  --color-highlight: var(--color-brand-700);
  --color-border-primary: var(--color-neutral-200);
  --color-surface-container: var(--color-dim-blue);
  --color-content-secondary: var(--color-neutral-600);
  --color-icon-button-secondary-border: var(--color-content-primary);
  --color-icon-button-secondary-bg-hover: var(--color-brand-800);
  --color-icon-button-secondary-content-hover: var(--color-white);
  --color-icon-button-secondary-bg-active: var(--color-brand-900);
  --color-button-primary-content: var(--color-highlight);
  --color-button-primary-bg-hover: var(--color-brand-700);
  --color-button-primary-bg-active: var(--color-brand-800);
  --color-button-primary-border-active: var(--color-brand-800);
  --color-button-primary-border-disabled: var(--color-content-primary);
  --color-button-primary-content-hover: var(--color-white);
  --color-button-secondary-bg: var(--color-brand-700);
  --color-button-secondary-content: var(--color-white);
  --color-button-secondary-bg-active: var(--color-brand-500);
  --color-button-secondary-bg-focus: var(--color-brand-700);
  --color-button-secondary-border-focus: var(--color-brand-700);
  /* transition-duration */
  --default-transition-duration: 0.2s;
  --default-transition-timing-function: ease-in;
  /* custom animations */
  --animate-pulse-scale: pulse-scale 5s ease-in-out infinite;
  --animate-fade-scale: fade-scale 5s ease-in-out infinite;
  --animate-carousel: carousel 20s linear infinite;
}

/* themes */
@utility light {
  @apply text-neutral-900;
  --color-content-primary: var(--color-neutral-900);
  --color-surface-field: var(--color-neutral-100);
  --color-highlight: var(--color-brand-700);
  --color-border-primary: var(--color-neutral-200);
  --color-surface-container: var(--color-dim-blue);
  --color-content-secondary: var(--color-neutral-600);
  --color-icon-button-secondary-border: var(--color-content-primary);
  --color-icon-button-secondary-bg-hover: var(--color-brand-800);
  --color-icon-button-secondary-content-hover: var(--color-white);
  --color-icon-button-secondary-bg-active: var(--color-brand-900);
  --color-button-primary-content: var(--color-highlight);
  --color-button-primary-bg-hover: var(--color-brand-700);
  --color-button-primary-bg-active: var(--color-brand-800);
  --color-button-primary-border-active: var(--color-brand-800);
  --color-button-primary-border-disabled: var(--color-content-primary);
  --color-button-primary-content-hover: var(--color-white);
  --color-button-secondary-bg: var(--color-brand-700);
  --color-button-secondary-content: var(--color-white);
  --color-button-secondary-bg-active: var(--color-brand-500);
  --color-button-secondary-bg-focus: var(--color-brand-700);
  --color-button-secondary-border-focus: var(--color-brand-700);
}
@utility dark {
  @apply text-white;
  --color-content-primary: var(--color-neutral-0);
  --color-surface-field: color-mix(
    in oklab,
    var(--color-white) 10%,
    transparent
  );
  --color-highlight: var(--color-new-gold);
  --color-border-primary: color-mix(
    in oklab,
    var(--color-white) 25%,
    transparent
  );
  --color-surface-container: color-mix(
    in oklab,
    var(--color-white) 8%,
    transparent
  );
  --color-content-secondary: var(--color-silver-mist);
  --color-icon-button-secondary-border: var(--color-border-primary);
  --color-icon-button-secondary-bg-hover: var(--color-new-gold);
  --color-icon-button-secondary-content-hover: var(--color-neutral-900);
  --color-button-primary-border-active: var(--color-new-gold);
  --color-icon-button-secondary-bg-active: var(--color-dark-gold);
  --color-button-primary-content: var(--color-content-primary);
  --color-button-primary-bg-hover: color-mix(
    in oklab,
    var(--color-white) 15%,
    transparent
  );
  --color-button-primary-bg-active: color-mix(
    in oklab,
    var(--color-white) 10%,
    transparent
  );
  --color-button-primary-border-disabled: var(--color-border-primary);
  --color-button-primary-content-hover: var(--color-content-primary);
  --color-button-secondary-bg: var(--color-white);
  --color-button-secondary-content: var(--color-brand-700);
  --color-button-secondary-bg-active: var(--color-brand-500);
  --color-button-secondary-bg-focus: var(--color-brand-800);
  --color-button-secondary-border-focus: var(--color-white);
}

/* gradients */
.gradient-brand-h-dark-to-light {
  @apply bg-gradient-to-r from-brand-900 to-brand-700;
}
.gradient-brand-h-light-to-dark {
  @apply bg-gradient-to-r from-brand-700 to-brand-900;
}
.gradient-brand-v-dark-to-light {
  @apply bg-gradient-to-b from-brand-900 to-brand-700;
}
.gradient-brand-v-light-to-dark {
  @apply bg-gradient-to-b from-brand-700 to-brand-900;
}
.gradient-brand-v-darker-to-dark {
  @apply bg-gradient-to-b from-brand-900 to-brand-800;
}
.gradient-brand-v-dark-to-darker {
  @apply bg-gradient-to-b from-brand-800 to-brand-900;
}
.gradient-gold-h-dark-to-light {
  @apply bg-gradient-to-r from-dark-gold to-new-gold;
}

.gradient-container {
  @apply bg-gradient-to-r from-brand-700 via-50% via-[rgba(88,104,158,0.5)] to-brand-700;
}
.gradient-primary-gray {
  @apply bg-gradient-to-br from-neutral-100 to-white;
}
.gradient-secondary-gray-h-light-to-dark {
  @apply bg-gradient-to-r from-white to-neutral-50;
}
.gradient-secondary-gray-h-dark-to-light {
  @apply bg-gradient-to-r from-neutral-50 to-white;
}
.gradient-secondary-gray-v-light-to-dark {
  @apply bg-gradient-to-b from-white to-neutral-50;
}
.gradient-secondary-gray-v-dark-to-light {
  @apply bg-gradient-to-b from-neutral-50 to-white;
}
.gradient-tertiary-gray {
  @apply bg-gradient-to-b from-neutral-100 to-neutral-50;
}

@utility gradient-overlay {
  @apply relative z-[1] before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-b before:from-black before:to-transparent before:opacity-70 before:z-[-5];
}

/* typography */
@utility typo-display {
  @apply text-[36px] dsk:text-[64px] leading-[42px] dsk:leading-[72px];
}
@utility typo-heading-1 {
  @apply text-[34px] dsk:text-[48px] leading-[40px] dsk:leading-[56px];
}
@utility typo-heading-2 {
  @apply text-[30px] dsk:text-[40px] leading-[36px] dsk:leading-[48px];
}
@utility typo-heading-3 {
  @apply text-[26px] dsk:text-[32px] leading-[32px] dsk:leading-[40px];
}
@utility typo-heading-4 {
  @apply text-[22px] dsk:text-[24px] leading-[28px] dsk:leading-[32px];
}
@utility typo-heading-5 {
  @apply text-[20px] leading-[24px];
}
@utility typo-heading-6 {
  @apply text-[14px] leading-[20px] tracking-[1px] uppercase font-bold;
}
@utility typo-body-large {
  @apply text-[18px] leading-[24px];
}
@utility typo-body-base {
  @apply text-[16px] leading-[22px];
}
@utility typo-body-small {
  @apply text-[14px] leading-[20px];
}
@utility typo-eyebrow {
  @apply text-[12px] leading-[18px] tracking-[1px] font-bold uppercase;
}
@utility typo-caption {
  @apply text-[12px] leading-[18px];
}
@utility typo-button-cta {
  @apply text-[14px] leading-none tracking-[1px] uppercase;
}

/* other utils */
@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Animations */
@keyframes pulse-scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  33.33%,
  66.66% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-scale {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  33.33%,
  66.66% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / var(--carousel-repetitions)));
  }
}

/* base styles */
html,
body {
  @apply font-sans font-normal tracking-normal typo-body-base antialiased bg-white text-content-primary scroll-smooth;
}
